*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}