.nav-links {
  width: 100%;
  @media (max-width: 1200px) {
    margin-top: 10px;
  }
}

.nav-links__list {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links__link {
  color: rgb(243, 204, 214);
  font-family: 'Century Gothic';
  font-weight: bold;
  font-size: 24px;
  @media (max-width: 1200px) {
    font-size: 20px;
    font-weight: 500;
  }
}

.nav-links__link:hover {
  color: grey;
}
